{% extends "blog_app/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        
        <div class="col-md-8 mt-3 left">
            <h1>category: <a style="color: blue">{{ category.name.title }}</a></h1>
            <hr>
            {% for post in category.posts.all %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <img src="{{post.images.url}}" width="250em" height="250em" alt="">
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    {{ post.author }} | {{ post.created_on.date }}&nbsp;
                
                    <a href="{% url 'blog_app:post_detail' post.slug %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'blog_app/sidebar.html' %} {% endblock sidebar %}
    </div>
{% endblock %}